In [1]:
import sqlite3
import time
import argparse
import pandas as pd
import datetime
import numpy as np

In [17]:
with sqlite3.connect("timelogger.db") as con:
    cursor = con.cursor()
    now = datetime.datetime.now()
    now = now - datetime.timedelta(days=1)
    t = cursor.execute("""INSERT INTO timelog (id, start_timestamp, end_timestamp)
                    VALUES (?, ?, ?)""",
                    (1000001, now.timestamp(), 0))

In [33]:
with sqlite3.connect("timelogger.db") as con:
    cursor = con.cursor()
    cursor.execute("""select * from timelog """)
    for log in cursor.fetchall():
        print(f"start = {log[1]}, end = {log[2]}")

start = 1720382372.06768, end = 1720382384.551723

In [20]:
datetime.datetime.fromtimestamp(1720299600) + datetime.timedelta(microseconds=1)

datetime.datetime(2024, 7, 7, 0, 0, 0, 1)

In [21]:
with sqlite3.connect("timelogger.db") as con:
    data = pd.read_sql_query("SELECT * FROM timelog", con, index_col="id")

In [34]:
datetime.datetime.fromtimestamp(data.iloc[0]["end_timestamp"]).day

7

In [29]:
def get_day(timestamp):
    date = datetime.datetime.fromtimestamp(timestamp)
    delta = datetime.timedelta(days=0, hours=date.hour, minutes=date.minute, seconds=date.second, microseconds=date.microsecond)
    return date - delta

def get_month(timestamp):
    date = datetime.datetime.fromtimestamp(timestamp)
    res = datetime.datetime(year=date.year, month=date.month)
    return res

In [34]:
data["work_time"] = np.array(list(map(datetime.datetime.fromtimestamp ,data["end_timestamp"]))) -\
                    np.array(list(map(datetime.datetime.fromtimestamp ,data["start_timestamp"] )))
data["day"] = np.array(list(map(get_day ,data["start_timestamp"] )))
data["month"] = np.array(list(map(get_month ,data["start_timestamp"] )))
data[["month", "work_time"]].groupby("month").sum()

                        work_time
month
2024-06-30 1 days 01:44:10.580604

In [7]:
?pd.read_sql_query

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col: 'str | list[str] | None' = None,
    coerce_float: 'bool' = True,
    params: 'list[str] | dict[str, str] | None' = None,
    parse_dates: 'list[str] | dict[str, str] | None' = None,
    chunksize: 'int | None' = None,
    dtype: 'DtypeArg | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | Iterator[DataFrame]'
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query
string. Optionally provide an `index_col` parameter to use one of the
columns as the index, otherwise default integer index will be used.

Parameters
----------
sql : str SQL query or SQLAlchemy Selectable (select or text object)
    SQL query to be executed.
con : SQLAlchemy connectable, str, or sqlite3 connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. If a DBAPI2 object, only sqlite3 is supported.
index_col : str or list of str, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}.
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.
dtype : Type name or dict of columns
    Data type for data or columns. E.g. np.float64 or
    {‘a’: np.float64, ‘b’: np.int32, ‘c’: ‘Int64’}.

    .. versionadded:: 1.3.0
dtype_backend : {"numpy_nullable", "pyarrow"}, defaults to NumPy backed DataFrames
    Which dtype_backend to use, e.g. whether a DataFrame should have NumPy
    arrays, nullable dtypes are used for all dtypes that have a nullable
    implementation when "numpy_nullable" is set, pyarrow is used for all
    dtypes if "pyarrow" is set.

    The dtype_backends are still experimential.

    .. versionadded:: 2.0

Returns
-------
DataFrame or Iterator[DataFrame]

See Also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql : Read SQL query or database table into a DataFrame.

Notes
-----
Any datetime values with time zone information parsed via the `parse_dates`
parameter will be converted to UTC.
File:      /opt/miniconda3/envs/autobid/lib/python3.9/site-packages/pandas/io/sql.py
Type:      function